[submodule "themes/pixyll"]
	path = themes/pixyll
	url = https://github.com/azmelanar/hugo-theme-pixyll.git
[submodule "public"]
	path = public
	url = https://github.com/jokarls/jokarls.github.io.git
	branch = master
